################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/legendary-guacamole/InCaseOf/obj
/legendary-guacamole/.vs/legendary-guacamole/v15/Server/sqlite3
/legendary-guacamole/.vs/legendary-guacamole/DesignTimeBuild/.dtbcache
/legendary-guacamole/InCaseOf/bin/Debug/netcoreapp2.0
/legendary-guacamole/ConsoleApp1/obj
/legendary-guacamole/ConsoleApp1/bin/Debug/netcoreapp2.0
